<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>MyPortfolio Bootstrap Template - Work Single</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='vendor/aos/aos.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <!-- =======================================================
  * Template Name: MyPortfolio
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Navbar ======= -->
    <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
      <div class="container py-2 py-md-5">
        <div class="row align-items-center">
          <div class="col-md-3">
            <ul class="custom-menu">
              <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About Me</a></li>
              <li><a href="{{ url_for('skills') }}">Skills</a></li>
              <li><a href="{{ url_for('works') }}">Projects</a></li>
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-5 d-none d-md-block mr-auto">
            <div class="tweet d-flex">
              <div>
                <h1 id="tagline">
                  <em
                    >Engineering Intelligent Solutions from Complex Data
                    Landscapes.</em
                  >
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-light custom-navbar">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">MyPortfolio.</a>
        <a
          href="#"
          class="burger"
          data-bs-toggle="collapse"
          data-bs-target="#main-navbar"
        >
          <span></span>
        </a>
      </div>
    </nav>

    <main id="main">
      <section class="section">
        <div class="container">
          <div class="row mb-4 align-items-center">
            <div class="col-md-6" data-aos="fade-up">
              <h2>Multi-Agent Coordination via Policy Gradient</h2>
              <p>Exploring Collaborative Intelligence with PPO Algorithms</p>
            </div>
          </div>

          <div class="row align-items-stretch">
            <div class="col-md-6" data-aos="fade-up">
              <!-- Replace with your project visual file path -->
              <img
                src="{{ url_for('static', filename='img/proj_5.png') }}"
                alt="Project Visuals"
                class="img-fluid"
              />
            </div>
            <div
              class="col-md-3 ml-auto"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="sticky-content">
                <h3 class="h3">Project Overview</h3>
                <p class="mb-4">Multi-Agent PPO</p>
                <p>
                  This research delves into Proximal Policy Optimization (PPO)
                  and its multi-agent adaptation (MAPPO) within a simulated
                  football environment. I analyze the mechanics of cooperation
                  and decision-making in multi-agent systems, exploring how
                  policy gradient methods facilitate coordinated actions in a
                  high-dimensional, partially observable setting. This study
                  contributes to a deeper understanding of collective AI
                  behaviors, relevant to autonomous systems and robotics.
                </p>
                <div class="d-flex flex-row flex-wrap">
                  <p>
                    <a
                      href="https://drive.google.com/file/d/17nuyhJg7v4tGd4RTKSVSt0JmtZtgrfvq/view?usp=sharing"
                      class="readmore"
                      >Read the Paper</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Testimonials Section ======= -->
      <!-- Add or remove testimonials as needed -->
      <section class="section pt-0">
        <div class="container">
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial">
                    <img
                      src="{{ url_for('static', filename='img/Jared_b.jpeg') }}"
                      alt="Image"
                      class="img-fluid"
                    />
                    <blockquote>
                      <p>
                        His expertise in ML is strong, Kevin is always ready to
                        illuminate even the most tangled concepts. Kevin's
                        dedication and clear explanations propelled our team
                        across the finish line, leaving us all immensely
                        grateful for his contribution.
                      </p>
                    </blockquote>
                    <p>&mdash; Jared Benedict</p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial">
                    <img
                      src="{{ url_for('static', filename='img/Pelley.jpeg') }}"
                      alt="Image"
                      class="img-fluid"
                    />
                    <blockquote>
                      <p>
                        Kevin is not only a great, knowledgeable teammate, but
                        also an exceptional technical leader, who always ensured
                        our milestones were met. Given the opportunity, I would
                        happily work with Kevin again.
                      </p>
                    </blockquote>
                    <p>&mdash; Jarrod Pelley</p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial">
                    <img
                      src="{{ url_for('static', filename='img/Vipul.jpeg') }}"
                      alt="Image"
                      class="img-fluid"
                    />
                    <blockquote>
                      <p>
                        His commitment to excellence is truly commendable; he
                        approached every challenge with a determined mindset,
                        setting a high standard for the entire team. Kevin's
                        collaborative spirit made him an invaluable team player.
                        He seamlessly integrated with our group, fostering a
                        positive and productive atmosphere.
                      </p>
                    </blockquote>
                    <p>&mdash; Vipul Koti</p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <i class="bi bi-person-circle"></i>
            <span>Kevin Ayers</span>
          </div>
          <div class="col-sm-6 social text-md-end">
            <a href="https://twitter.com/iamkevinayers"
              ><span class="bi bi-twitter"></span
            ></a>
            <a href="https://github.com/AyersAuthentic"
              ><span class="bi bi-github"></span
            ></a>
            <a href="https://www.linkedin.com/in/kevin-ayers/"
              ><span class="bi bi-linkedin"></span
            ></a>
          </div>
        </div>
      </div>
    </footer>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
